<style>
  #main{
    width: 100%;
    padding: 20px 10px;
  }
  @media(min-width: 786px){
    #main{
      width: 50%;
      margin: 0 auto;
    }
  }
  .title{font-weight:400}
</style>
<div id="main">
  <h1 class="title">How to get bot token?</h1>
  <hr>
  <br>
  <h2>Step 1:</h2>
  <p>Go to your Telegram app</p>
  <br>
  <h2>Step 2:</h2>
  <p>Go to <a href="https://t.me/BotFather" target="_blank">@BotFather</a> and click 'start'</p>
  <br>
  <h2>Step 3:</h2>
  <p>Type <code>/newbot</code> and follow the steps to create a new bot</p>
  <br>
  <h2>Step 4:</h2>
  <p>BotFather will ask you to provide a name and a username for your bot</p>
  <br>
  <h2>Step 5:</h2>
  <p>Once done, BotFather will send you a message containing your bot token. Copy and save this token securely.</p>
  <br><br>
  <a href="/">Go back to the main page?</a>
</div>