<style>
  #main{
    width: 100%;
    padding: 20px 10px;
  }
  @media(min-width: 786px){
    #main{
      width: 50%;
      margin: 0 auto;
    }
  }
  .title{font-weight:400}
</style>
<div id="main">
  <h1 class="title">How to get your Telegram User ID</h1>
  <hr>
  <br>
  <h2>Step 1:</h2>
  <p>Open your Telegram app</p>
  <br>
  <h2>Step 2:</h2>
  <p>Search for <a href="https://t.me/getmyid_bot" target="_blank">@getmyid_bot</a> and select it from the results</p>
  <br>
  <h2>Step 3:</h2>
  <p>Click <strong>Start</strong> to initiate the bot</p>
  <br>
  <h2>Step 4:</h2>
  <p>The bot will automatically reply with your user ID and other details</p>
  <br><br>
  <a href="/">Go back to the main page?</a>
</div>